.PaisRecuadro {
    display: flex;
    min-height: 10vh;
    min-width: 30vh;
    max-height: 16vh;
    max-width: 60vh;
    flex-direction: row;
    color: rgb(12, 11, 11);
    border-radius: 2vh;
    border: 2px solid red;
    margin: 2px;

}

.PaisImg {
    width: 80%;

    padding-top: 10px;

}

.PaisDatos {
    display:flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 1px;
}

.PaisControles {
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    padding-top: 5px;
    align-items: center;
    margin: 2px;
}

.InfoPais {
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    width: 80%;
}

.Boton {
    border-radius: 2vh;
    border: 1px solid blue;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    box-shadow: 2px 2px 2px 2px grey;
    cursor: pointer;
    position:relative;
    transition: all 0.10s ease-in-out;
    -webkit-transition: all 0.10s ease-in-out;
}

.Boton:active {
    box-shadow: 1px 1px 1px 1px grey;
}

.PaisCheck {
    width: 15px;
    height: 15px;
    background-color: rgb(38, 0, 255);
    align-self:flex-end;
}