.Paises{
    display: flex;

    width: 99%;
    height: 100%;
    flex-wrap: wrap;
    
    justify-content:space-around;
    font-size: calc(10px + 2vmin);
 
    border-radius: 2vh;
    border: 2px solid black;
    margin: 2px;

  }

  .PBtn {
    border-radius: 2vh;
    border: solid blue;
    margin-left: 10px;
    margin-right: 10px;
  }