.Welcome{
    display: flex;
    min-height: 70vh;
    max-height: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(12, 11, 11);
    border-radius: 2vh;
    border: 1px solid black;
    margin: 2px;
  }